<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Nejc</string>
	<key>surname</key>
	<string>Pintar</string>
	<key>aboutme</key>
	<string>I&apos;ve been wanting to work with computers since I was a little kid. I&apos;ve jumped into development at the age of 15 and during high school, I have already occasionally worked as an intern at Metalab d.o.o. I&apos;m passionate about my work and hobbies, always trying to bring anything I do to the highest possible level. When not working I try to challenge my body and mind with hobbies and sports like CAD, 3D printing, skiing and downhill skateboarding.</string>
	<key>education</key>
	<array>
		<dict>
			<key>facility</key>
			<string>Tehniški šolski center Kranj</string>
			<key>program</key>
			<string>Tehniška gimnazija</string>
			<key>graduated</key>
			<true/>
			<key>startYear</key>
			<integer>2004</integer>
			<key>endYear</key>
			<real>2008</real>
		</dict>
		<dict>
			<key>facility</key>
			<string>Univerza v Mariboru: Fakulteta za elektrotehniko, računalništvo in informatiko</string>
			<key>program</key>
			<string>Računalništvo in informacijske tehnologije</string>
			<key>graduated</key>
			<false/>
			<key>startYear</key>
			<integer>2008</integer>
			<key>endYear</key>
			<real>2010</real>
		</dict>
	</array>
	<key>work</key>
	<array>
		<dict>
			<key>company</key>
			<string>Thirdlove</string>
			<key>jobTitle</key>
			<string>iOS Developer</string>
			<key>jobDescription</key>
			<string>I worked part-time and remotely for Thirdlove as their lead iOS developer. My work there consisted mainly of maintenance and development of their e-commerce iOS app and their bra sizing technology. I learned to work with Shopify, Parse, Facebook SDK and Fabric throughoutly while doing this project.</string>
			<key>startYear</key>
			<real>2016</real>
			<key>endYear</key>
			<integer>2017</integer>
		</dict>
		<dict>
			<key>company</key>
			<string>Toonia</string>
			<key>jobTitle</key>
			<string>iOS Developer</string>
			<key>jobDescription</key>
			<string>Working at Toonia has had the most influence on the way I think and work. Besides learning development for iOS, I also learned a lot about user experience, psychology and graphics. Most of the work there was about creating tailor-made, fluid user interfaces suitable for kids. We relied on vector graphics a lot, which also meant a lot of work on rendering engines and curve manipulation</string>
			<key>startYear</key>
			<integer>2013</integer>
			<key>endYear</key>
			<integer>2016</integer>
			<key>examples</key>
			<array>
				<dict>
					<key>url</key>
					<string>https://itunes.apple.com/us/app/toonia-colorbook-educational/id633956731?mt=8</string>
					<key>title</key>
					<string>Toonia Colorbook</string>
				</dict>
				<dict>
					<key>url</key>
					<string>https://itunes.apple.com/us/app/toonia-differences-find-hidden/id958179391?mt=8</string>
					<key>title</key>
					<string>Toonia Differences</string>
				</dict>
				<dict>
					<key>url</key>
					<string>https://itunes.apple.com/us/app/toonia-jelly-learn-about-colors/id777604525?mt=8</string>
					<key>title</key>
					<string>Toonia Jelly</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>company</key>
			<string>Toshl</string>
			<key>jobTitle</key>
			<string>Qt Developer</string>
			<key>jobDescription</key>
			<string>I tipped my toes into the world of mobile development at Toshl. I developed and maintained apps for Symbian and Meego there.</string>
			<key>startYear</key>
			<integer>2011</integer>
			<key>endYear</key>
			<integer>2012</integer>
		</dict>
	</array>
</dict>
</plist>
